<a href="https://colab.research.google.com/github/afullhart/climateanalogs/blob/main/Figures/Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%reset -f

### Imports

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### ZeroOne Ecoregion Lvl 3 Accuracy

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


fld = '/content/drive/My Drive/Colab Notebooks/Analogs/Binary_Test'

files = [f for f in os.listdir(fld) if f[-4:] == '.csv']
print(files)

test_groups = ['125671012', '34', '81315', '91012', '101114']
diag_group = [['13', '20', '22', '24'], ['14', '81'], ['21', '23', '79'], ['25', '26'], ['5', '18', '19', '80']]

df_dict = {}
for n in test_groups:
  df = pd.read_csv(os.path.join(fld, 'Zonal_eco3_{}.csv'.format(n)))
  mask = df.iloc[:, 1:].any(axis=1)
  df = df.iloc[:, 1:][mask]
  n_classes = len(df)
  df_dict[n] = df

display(df)

test_scores = []
true_positive_rate = 0.0
for i, df_key in enumerate(df_dict):
  df = df_dict[df_key]
  n = df.sum().sum()
  sum_values_per_col = df.sum()
  codes = ['US_L3_' + diag_group[i][j] for j in range(len(diag_group[i]))]
  anti_codes = [c for c in df.columns.to_list() if c not in codes]
  yes_n = float(df[codes].loc[255, :].sum())
  no_n = float(df[codes].loc[0, :].sum())
  anti_yes_n = float(df[anti_codes].loc[255, :].sum())
  anti_no_n = float(df[anti_codes].loc[0, :].sum())
  area_weight = (yes_n + no_n) / n
  true_positive = yes_n
  true_negative = anti_no_n
  false_positive = anti_yes_n
  false_negative =  no_n

  group_accuracy = (true_positive + true_negative) / (true_positive + true_negative + false_positive + false_negative)

  test_scores.append(group_accuracy*area_weight)

  true_positive_rate += yes_n / (yes_n + no_n) * area_weight
  false_positive_rate = 0.0

print(np.sum(test_scores))
print(true_positive_rate * 100.0)

['Zonal_eco3_125671012.csv', 'Zonal_eco3_34.csv', 'Zonal_eco3_81315.csv', 'Zonal_eco3_91012.csv', 'Zonal_eco3_101114.csv', 'Zonal_mlra_125678.csv', 'Zonal_mlra_34.csv', 'Zonal_mlra_813.csv', 'Zonal_mlra_912.csv', 'Zonal_mlra_101114.csv', 'Zonal_mlra_15.csv', 'Zonal_eco3_134.csv', 'Zonal_eco3_2567812.csv', 'Zonal_eco3_91115.csv', 'Zonal_eco3_9121314.csv', 'Zonal_eco3_10.csv', 'Zonal_mlra_13.csv', 'Zonal_mlra_24568.csv', 'Zonal_mlra_7912.csv', 'Zonal_mlra_10.csv', 'Zonal_mlra_11.csv', 'Zonal_mlra_1314.csv']

,US_L3_13,US_L3_14,US_L3_18,US_L3_19,US_L3_20,US_L3_21,US_L3_22,US_L3_23,US_L3_24,US_L3_25,US_L3_26,US_L3_5,US_L3_79,US_L3_80,US_L3_81
0,291509,75176,1092,4859,113999,17710,156725,137417,100010,45721,95875,107,54263,5402,124834
255,153537,1245,3443,60980,34581,21945,41329,18537,153,0,5340,1291,1,56357,0

0.8536079254905856
80.25917836098454

### ZeroOne MLRA Accuracy

In [4]:

import os
import pandas as pd
import matplotlib.pyplot as plt


fld = '/content/drive/My Drive/Colab Notebooks/Analogs/Binary_Test'

files = [f for f in os.listdir(fld) if f[-4:] == '.csv']
print(files)

test_groups = ['125678', '34', '813', '912', '101114', '15']
diag_group = [['24', '27', '28A', '28B', '29', '34A', '34B', '35', '42B'], ['30', '40'],
              ['38', '41'], ['42A', '42C', '70A', '70B', '77B', '77C', '77D', '77E'],
              ['11', '13', '22A', '23', '25', '26', '36', '46', '47', '48A', '51'], ['39']]

df_dict = {}
for n in test_groups:
  df = pd.read_csv(os.path.join(fld, 'Zonal_mlra_{}.csv'.format(n)))
  mask = df.iloc[:, 1:].any(axis=1)
  df = df.iloc[:, 1:][mask]
  n_classes = len(df)
  df_dict[n] = df

display(df)

test_scores = []
true_positive_rate = 0.0
for i, df_key in enumerate(df_dict):
  df = df_dict[df_key]
  n = df.sum().sum()
  sum_values_per_col = df.sum()
  codes = ['MLRAR_' + diag_group[i][j] for j in range(len(diag_group[i]))]
  anti_codes = [c for c in df.columns.to_list() if c not in codes]
  yes_n = float(df[codes].loc[255, :].sum())
  no_n = float(df[codes].loc[0, :].sum())
  anti_yes_n = float(df[anti_codes].loc[255, :].sum())
  anti_no_n = float(df[anti_codes].loc[0, :].sum())
  area_weight = (yes_n + no_n) / n
  true_positive = yes_n
  true_negative = anti_no_n
  false_positive = anti_yes_n
  false_negative =  no_n

  group_accuracy = (true_positive + true_negative) / (true_positive + true_negative + false_positive + false_negative)

  test_scores.append(group_accuracy*area_weight)

  true_positive_rate += yes_n / (yes_n + no_n) * area_weight
  false_positive_rate = 0.0

print(np.sum(test_scores))
print(true_positive_rate * 100.0)

['Zonal_eco3_125671012.csv', 'Zonal_eco3_34.csv', 'Zonal_eco3_81315.csv', 'Zonal_eco3_91012.csv', 'Zonal_eco3_101114.csv', 'Zonal_mlra_125678.csv', 'Zonal_mlra_34.csv', 'Zonal_mlra_813.csv', 'Zonal_mlra_912.csv', 'Zonal_mlra_101114.csv', 'Zonal_mlra_15.csv', 'Zonal_eco3_134.csv', 'Zonal_eco3_2567812.csv', 'Zonal_eco3_91115.csv', 'Zonal_eco3_9121314.csv', 'Zonal_eco3_10.csv', 'Zonal_mlra_13.csv', 'Zonal_mlra_24568.csv', 'Zonal_mlra_7912.csv', 'Zonal_mlra_10.csv', 'Zonal_mlra_11.csv', 'Zonal_mlra_1314.csv']

,MLRAR_11,MLRAR_13,MLRAR_22A,MLRAR_23,MLRAR_24,MLRAR_25,MLRAR_26,MLRAR_27,MLRAR_28A,MLRAR_28B,...,MLRAR_46,MLRAR_47,MLRAR_48A,MLRAR_51,MLRAR_70A,MLRAR_70B,MLRAR_77B,MLRAR_77C,MLRAR_77D,MLRAR_77E
0,265,2329,1338,19524,40392,64188,15391,60142,145475,85366,...,2477,71118,29122,1837,30925,56431,5817,8661,18505,1083
255,0,0,39,0,0,0,16,0,390,13,...,0,3085,13359,0,353,0,0,0,0,0

0.8549464660885197
75.28809266272278

### Zscore Ecoregion Lvl 3 Accuracy

In [5]:

import os
import pandas as pd
import matplotlib.pyplot as plt

fld = '/content/drive/My Drive/Colab Notebooks/Analogs/Binary_Test'

files = [f for f in os.listdir(fld) if f[-4:] == '.csv']
print(files)

test_groups = ['134', '2567812', '91115', '9121314', '10']
diag_group = [['14', '81'], ['13', '18', '20', '22', '24'], ['23', '79'], ['5', '19', '21', '80'], ['25', '26']]

df_dict = {}
for n in test_groups:
  df = pd.read_csv(os.path.join(fld, 'Zonal_eco3_{}.csv'.format(n)))
  mask = df.iloc[:, 1:].any(axis=1)
  df = df.iloc[:, 1:][mask]
  n_classes = len(df)
  df_dict[n] = df

display(df)

test_scores = []
true_positive_rate = 0.0
for i, df_key in enumerate(df_dict):
  df = df_dict[df_key]
  n = df.sum().sum()
  sum_values_per_col = df.sum()
  codes = ['US_L3_' + diag_group[i][j] for j in range(len(diag_group[i]))]
  anti_codes = [c for c in df.columns.to_list() if c not in codes]
  yes_n = float(df[codes].loc[255, :].sum())
  no_n = float(df[codes].loc[0, :].sum())
  anti_yes_n = float(df[anti_codes].loc[255, :].sum())
  anti_no_n = float(df[anti_codes].loc[0, :].sum())
  area_weight = (yes_n + no_n) / n
  true_positive = yes_n
  true_negative = anti_no_n
  false_positive = anti_yes_n
  false_negative =  no_n

  group_accuracy = (true_positive + true_negative) / (true_positive + true_negative + false_positive + false_negative)

  test_scores.append(group_accuracy*area_weight)

  true_positive_rate += yes_n / (yes_n + no_n) * area_weight
  false_positive_rate = 0.0

print(np.sum(test_scores))
print(true_positive_rate * 100.0)

['Zonal_eco3_125671012.csv', 'Zonal_eco3_34.csv', 'Zonal_eco3_81315.csv', 'Zonal_eco3_91012.csv', 'Zonal_eco3_101114.csv', 'Zonal_mlra_125678.csv', 'Zonal_mlra_34.csv', 'Zonal_mlra_813.csv', 'Zonal_mlra_912.csv', 'Zonal_mlra_101114.csv', 'Zonal_mlra_15.csv', 'Zonal_eco3_134.csv', 'Zonal_eco3_2567812.csv', 'Zonal_eco3_91115.csv', 'Zonal_eco3_9121314.csv', 'Zonal_eco3_10.csv', 'Zonal_mlra_13.csv', 'Zonal_mlra_24568.csv', 'Zonal_mlra_7912.csv', 'Zonal_mlra_10.csv', 'Zonal_mlra_11.csv', 'Zonal_mlra_1314.csv']

,US_L3_13,US_L3_14,US_L3_18,US_L3_19,US_L3_20,US_L3_21,US_L3_22,US_L3_23,US_L3_24,US_L3_25,US_L3_26,US_L3_5,US_L3_79,US_L3_80,US_L3_81
0,362353,74443,2452,54606,134433,33648,181611,125240,72017,1025,4452,934,53063,31566,124829
255,82693,1978,2083,11233,14147,6007,16443,30714,28146,44696,96763,464,1201,30193,5

0.8612543891590863
81.18954958550927

### Zscore MLRA Accuracy

In [6]:

import os
import pandas as pd
import matplotlib.pyplot as plt


fld = '/content/drive/My Drive/Colab Notebooks/Analogs/Binary_Test'

files = [f for f in os.listdir(fld) if f[-4:] == '.csv']
print(files)

test_groups = ['13', '24568', '7912', '10', '11', '1314']
diag_group = [['30', '40'], ['24', '26', '27', '28A', '29', '34B', '35', '42B'],
              ['11', '13', '23', '25', '28B', '34A', '36', '39', '51'], ['42A', '42C', '70A', '70B', '77B', '77C', '77D', '77E'],
              ['38', '41'], ['22A', '46', '47', '48A']]

df_dict = {}
for n in test_groups:
  df = pd.read_csv(os.path.join(fld, 'Zonal_mlra_{}.csv'.format(n)))
  mask = df.iloc[:, 1:].any(axis=1)
  df = df.iloc[:, 1:][mask]
  n_classes = len(df)
  df_dict[n] = df

display(df)

test_scores = []
true_positive_rate = 0.0
for i, df_key in enumerate(df_dict):
  df = df_dict[df_key]
  n = df.sum().sum()
  sum_values_per_col = df.sum()
  codes = ['MLRAR_' + diag_group[i][j] for j in range(len(diag_group[i]))]
  anti_codes = [c for c in df.columns.to_list() if c not in codes]
  yes_n = float(df[codes].loc[255, :].sum())
  no_n = float(df[codes].loc[0, :].sum())
  anti_yes_n = float(df[anti_codes].loc[255, :].sum())
  anti_no_n = float(df[anti_codes].loc[0, :].sum())
  area_weight = (yes_n + no_n) / n
  true_positive = yes_n
  true_negative = anti_no_n
  false_positive = anti_yes_n
  false_negative =  no_n

  group_accuracy = (true_positive + true_negative) / (true_positive + true_negative + false_positive + false_negative)

  test_scores.append(group_accuracy*area_weight)

  true_positive_rate += yes_n / (yes_n + no_n) * area_weight
  false_positive_rate = 0.0

print(np.sum(test_scores))
print(true_positive_rate * 100.0)

['Zonal_eco3_125671012.csv', 'Zonal_eco3_34.csv', 'Zonal_eco3_81315.csv', 'Zonal_eco3_91012.csv', 'Zonal_eco3_101114.csv', 'Zonal_mlra_125678.csv', 'Zonal_mlra_34.csv', 'Zonal_mlra_813.csv', 'Zonal_mlra_912.csv', 'Zonal_mlra_101114.csv', 'Zonal_mlra_15.csv', 'Zonal_eco3_134.csv', 'Zonal_eco3_2567812.csv', 'Zonal_eco3_91115.csv', 'Zonal_eco3_9121314.csv', 'Zonal_eco3_10.csv', 'Zonal_mlra_13.csv', 'Zonal_mlra_24568.csv', 'Zonal_mlra_7912.csv', 'Zonal_mlra_10.csv', 'Zonal_mlra_11.csv', 'Zonal_mlra_1314.csv']

,MLRAR_11,MLRAR_13,MLRAR_22A,MLRAR_23,MLRAR_24,MLRAR_25,MLRAR_26,MLRAR_27,MLRAR_28A,MLRAR_28B,...,MLRAR_46,MLRAR_47,MLRAR_48A,MLRAR_51,MLRAR_70A,MLRAR_70B,MLRAR_77B,MLRAR_77C,MLRAR_77D,MLRAR_77E
0,234,2108,490,18550,39640,52008,14918,60069,142299,81746,...,1064,24914,24817,1786,31037,56425,5817,8661,18505,1083
255,31,221,887,974,752,12180,489,73,3566,3633,...,1413,49289,17664,51,241,6,0,0,0,0

0.880487431411913
71.3446048997312