<a href="https://colab.research.google.com/github/afullhart/climateanalogs/blob/main/Figures/Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
%reset -f

### Imports

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Ecoregion lvl 3 Accuracy

In [16]:

import os
import pandas as pd
import matplotlib.pyplot as plt


fld = '/content/drive/My Drive/Colab Notebooks/Analogs/Binary_Test'

files = [f for f in os.listdir(fld) if f[-4:] == '.csv']
print(files)

test_groups = ['125671012', '1258', '34', '81315', '91012', '101114']
diag_group = [['13', '20', '22'], ['24'], ['14', '81'], ['18, 21, 23, 79'], ['25', '26'], ['5', '19', '80']]

df_dict = {}
for n in test_groups:
  df = pd.read_csv(os.path.join(fld, 'Zonal_{}.csv'.format(n)))
  mask = df.iloc[:, 1:].any(axis=1)
  df = df.iloc[:, 1:][mask]
  n_classes = len(df)
  df_dict[n] = df

display(df)

test_scores = []
for i, df_key in enumerate(df_dict):
  print(df_key)
  df = df_dict[df_key]
  n = df.sum().sum()
  sum_values_per_col = df.sum()
  codes = ['US_L3_' + diag_group[i][j] for j in range(len(diag_group[i]))]

display(df[codes])

print(sum_values_per_col)

['Zonal_34.csv', 'Zonal_81315.csv', 'Zonal_125671012.csv', 'Zonal_101114.csv', 'Zonal_91012.csv', 'Zonal_1258.csv']

,US_L3_13,US_L3_14,US_L3_18,US_L3_19,US_L3_20,US_L3_21,US_L3_22,US_L3_23,US_L3_24,US_L3_25,US_L3_26,US_L3_5,US_L3_79,US_L3_80,US_L3_81
0,291509,75176,1092,4859,113999,17710,156725,137417,100010,45721,95875,107,54263,5402,124834
255,153537,1245,3443,60980,34581,21945,41329,18537,153,0,5340,1291,1,56357,0

125671012
1258
34
81315
91012
101114

     US_L3_5  US_L3_19  US_L3_80
0        107      4859      5402
255     1291     60980     56357

US_L3_13    445046
US_L3_14     76421
US_L3_18      4535
US_L3_19     65839
US_L3_20    148580
US_L3_21     39655
US_L3_22    198054
US_L3_23    155954
US_L3_24    100163
US_L3_25     45721
US_L3_26    101215
US_L3_5       1398
US_L3_79     54264
US_L3_80     61759
US_L3_81    124834
dtype: int64